name: Canducci.Validations

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build-test-pack-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.x'

      - name: Restaurar dependências
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Testes
        run: dotnet test --configuration Release --no-build
                
      - name: Empacotar (dotnet pack)
        run: dotnet pack --configuration Release --no-build -o ./nupkgs
        
      - name: Publicar no NuGet
        run: dotnet nuget push "./nupkgs/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
